.ultimate1 {
  color: #1c1c1c;
}
.youve-selected-ultimate {
  position: relative;
  font-size: 17.1px;
  line-height: 22.9px;
  font-weight: 500;
}
.icon-labels {
  height: 16px;
  width: 18px;
  position: relative;
}
.spend-at-over {
  position: relative;
  line-height: 22px;
}
.feature-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.vector-icon {
  height: 14px;
  width: 14px;
  position: relative;
}
.available-as-physical {
  position: relative;
  line-height: 22px;
}
.feature-icons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.vector-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.next-day-delivery {
  position: relative;
  line-height: 22px;
}
.feature-icons2,
.product-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.product-features {
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  color: #1c1c1c;
}
.product-description {
  position: relative;
  line-height: 22px;
}
.svg-icon15 {
  height: 16px;
  width: 14px;
  position: relative;
  mix-blend-mode: normal;
}
.info-icons {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  white-space: nowrap;
  gap: 20px;
}
.delivery-options {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 125px;
}
.svg-icon16 {
  height: 16px;
  width: 14px;
  position: relative;
  mix-blend-mode: normal;
}
.info-icons1 {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  white-space: nowrap;
  gap: 20px;
}
.product-info,
.product-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-info {
  align-self: stretch;
  gap: 12px;
  color: #5a5a5a;
}
.product-name {
  width: 385px;
  gap: 40px;
  min-width: 385px;
  max-width: 100%;
}
.amount,
.div27 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 59px;
}
.div27 {
  color: #663791;
  min-width: 30px;
  white-space: nowrap;
}
.div-panel-heading {
  align-self: stretch;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21.3px 20px 22px;
  gap: 17.3px;
  mix-blend-mode: normal;
}
.div28,
.how-much-do {
  position: relative;
  line-height: 22px;
}
.div28 {
  display: inline-block;
  min-width: 28px;
  white-space: nowrap;
}
.div-voucher-selector {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 33px 9px 36px;
  mix-blend-mode: normal;
}
.div29 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 30px;
  white-space: nowrap;
}
.div-voucher-selector1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 118.7px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #f13544;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 32px 9px 35px;
  mix-blend-mode: normal;
  color: #f13544;
}
.div30 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 31px;
  white-space: nowrap;
}
.div-voucher-selector2 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 237.3px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 31px 9px 35px;
  mix-blend-mode: normal;
}
.div31 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 31px;
  white-space: nowrap;
}
.div-voucher-selector3 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 356px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 31px 9px 35px;
  mix-blend-mode: normal;
}
.div32 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 30px;
  white-space: nowrap;
}
.div-voucher-selector4 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 474.6px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 32px 9px 35px;
  mix-blend-mode: normal;
}
.div33 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 29px;
  white-space: nowrap;
}
.div-voucher-selector5,
.div-voucher-selector6 {
  margin: 0 !important;
  position: absolute;
  top: 60px;
  mix-blend-mode: normal;
}
.div-voucher-selector5 {
  left: 0;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 33px 9px 35px;
}
.div-voucher-selector6 {
  height: 45px;
  width: 98.7px;
  left: 118.7px;
}
.div34 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 38px;
  white-space: nowrap;
}
.div-voucher-selector7 {
  margin: 0 !important;
  position: absolute;
  top: 60px;
  left: 237.3px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 28px 9px 31px;
  mix-blend-mode: normal;
}
.div-voucher-selector8,
.div-voucher-selector9 {
  height: 45px;
  width: 98.7px;
  margin: 0 !important;
  position: absolute;
  top: 60px;
  left: 356px;
  mix-blend-mode: normal;
}
.div-voucher-selector9 {
  left: 474.6px;
}
.amount-options {
  align-self: stretch;
  height: 105px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 15px 20px;
}
.amount-question,
.gift-amount {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.amount-question {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.gift-amount {
  width: 606px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 14px;
  box-sizing: border-box;
}
.other-amount {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 105px;
}
.custom-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 11.4px;
}
.div-amount-dropdown-menu {
  align-self: stretch;
  flex: 1;
  mix-blend-mode: normal;
}
.custom-amount,
.custom-input {
  display: flex;
  flex-direction: row;
}
.custom-input {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.6px;
}
.custom-amount {
  width: 223.3px;
  height: 54px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 7px 9px;
  box-sizing: border-box;
}
.divider-ng-tns-c103-1 {
  width: 592px;
  height: 3px;
  position: relative;
  background-color: rgba(232, 223, 241, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  max-width: 100%;
}
.quantity2 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 56px;
}
.control-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.div-round-btn-icon {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 100px;
  mix-blend-mode: normal;
  min-height: 27px;
}
.div35 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 7px;
}
.control-items1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2px 0 0;
}
.div-round-btn-icon1 {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 100px;
  mix-blend-mode: normal;
  min-height: 27px;
}
.quantity-controls {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.amount-input,
.quantity1 {
  box-sizing: border-box;
  display: flex;
}
.quantity1 {
  width: 197.3px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10px;
  font-size: 13.9px;
}
.amount-input {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #eee;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px 15px;
  gap: 23px;
  max-width: 100%;
}
.delivery-type,
.digital,
.edit {
  line-height: 22px;
  display: inline-block;
}
.edit {
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: -47.7px;
  min-width: 36px;
}
.delivery-type,
.digital {
  position: relative;
  color: #5a5a5a;
  min-width: 100px;
}
.digital {
  color: #663791;
  min-width: 48px;
}
.div-panel,
.div-panel-heading1 {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
  max-width: 100%;
}
.div-panel-heading1 {
  width: 568.8px;
  border-radius: 3px 3px 0 0;
  padding: 21.3px 20px 22.4px;
  position: relative;
  gap: 15px;
}
.div-panel {
  align-self: stretch;
  border-radius: 4px;
  border: 2px solid #f5f1f9;
  padding: 0 2px 1.6px;
}
.edit1,
.personalisation {
  line-height: 22px;
  display: inline-block;
}
.edit1 {
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: -47.7px;
  min-width: 36px;
}
.personalisation {
  position: relative;
  color: #5a5a5a;
  min-width: 116px;
}
.delivery-options1,
.div-panel-heading2,
.div-panel1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div-panel-heading2 {
  width: 568.8px;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  flex-direction: row;
  padding: 21.3px 20px 23.1px;
  box-sizing: border-box;
  position: relative;
  mix-blend-mode: normal;
}
.delivery-options1,
.div-panel1 {
  align-self: stretch;
}
.div-panel1 {
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 2px 1.6px;
  mix-blend-mode: normal;
}
.delivery-options1 {
  flex-direction: column;
  gap: 17px;
}
.button26 {
  align-self: stretch;
  height: 38px;
}
.of-the-biggest1 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
  color: #1c1c1c;
}
.amount-selection,
.delivery {
  width: 636px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
  color: #f13544;
}
.amount-selection {
  width: 668px;
  align-items: flex-end;
  gap: 17px;
  min-width: 668px;
  color: #1c1c1c;
}
.product1 {
  width: 1282px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.related-brands1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 115px;
}
.image-ng-lazyloaded-icon138 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.marks-spencer1 {
  position: relative;
  display: inline-block;
  min-width: 97px;
}
.div-brand136,
.div36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div36 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 17px 26px 4px;
  white-space: nowrap;
}
.div-brand136 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 7px 4px;
}
.image-ng-lazyloaded-icon139 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.champneys2 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.div-brand137,
.div37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div37 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 17px 47px 4px;
}
.div-brand137 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 7px 4px;
}
.image-ng-lazyloaded-icon140 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.crocus2 {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.div-brand138,
.div38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div38 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 17px 69px 4px;
}
.div-brand138 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 7px 4px;
}
.image-ng-lazyloaded-icon141 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.golfdirect2 {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.div-brand139,
.div39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div39 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 17px 54px 4px;
}
.div-brand139 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 7px 4px;
}
.image-ng-lazyloaded-icon142 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.frankie-bennys2 {
  flex: 1;
  position: relative;
}
.div-brand140,
.div40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div40 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 4.5px 0 1.5px 5px;
}
.div-brand140 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 7px 4px;
}
.image-ng-lazyloaded-icon143 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}
.ernest-jones2 {
  position: relative;
  display: inline-block;
  min-width: 74px;
}
.div41 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 17px 45px 4px;
  white-space: nowrap;
}
.div-brand141,
.div-brands1,
.div41 {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.div-brand141 {
  height: 150px;
  border: 3px solid #f5f1f9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 7px 4px;
}
.div-brands1 {
  align-self: stretch;
  background-color: #f5f1f9;
  display: grid;
  flex-direction: row;
  padding: 8.8px 8px 11.9px;
  gap: 8px;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  text-align: center;
  font-size: 12px;
}
.brands-container,
.related-brands {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.brands-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.related-brands {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  color: #1c1c1c;
}
.product-container {
  width: 1304px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 83px;
  max-width: 100%;
}
.product-details1 {
  width: 1904px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #f13544;
  font-family: Inter;
}
@media screen and (max-width: 1350px) {
  .amount-selection,
  .product-name {
    flex: 1;
  }
  .product1 {
    flex-wrap: wrap;
  }
  .div-brands1 {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(150px, 260px));
  }
}
@media screen and (max-width: 925px) {
  .delivery {
    gap: 16px;
  }
  .amount-selection {
    min-width: 100%;
  }
  .product-container {
    gap: 41px;
  }
}
@media screen and (max-width: 450px) {
  .product-name {
    gap: 20px;
    min-width: 100%;
  }
  .div-panel-heading,
  .div-panel-heading1 {
    flex-wrap: wrap;
  }
  .button26 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .div-brands1 {
    grid-template-columns: minmax(150px, 1fr);
  }
  .product-container {
    gap: 21px;
  }
}
