.sign-up,
.sign-up-to {
  align-self: stretch;
  position: relative;
}
.sign-up {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.sign-up-to {
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
}
.sign-up-parent {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.your-name {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.name-address-username {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 11px;
  min-width: 159px;
  white-space: nowrap;
}
.email {
  width: 41px;
  border: 0;
  outline: 0;
  font-family: Inter;
  font-size: 16px;
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 135%;
  color: #000;
  text-align: center;
  display: inline-block;
  padding: 0;
}
.email-fields,
.name-fields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.email-fields {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 7px 11px;
  min-width: 159px;
}
.name-fields {
  align-self: stretch;
  align-items: flex-start;
  gap: 11px;
}
.address2 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 63px;
}
.address-wrapper {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 11px;
  min-width: 159px;
}
.country {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 61px;
}
.extra-fields-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.country-parent,
.name-fields1 {
  display: flex;
  flex-direction: row;
}
.country-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-fields1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
}
.username1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 78px;
}
.spacer-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.username-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.password1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.frame-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.password-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-fields2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
}
.tag-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button9 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
}
.tag-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button8,
.input-fields2 {
  align-self: stretch;
  display: flex;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 16px 20px;
  background-color: #5a5a5a;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.input-fields2 {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.or-sign-up {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 116px;
}
.social-options-icon,
.social-options-icon1,
.social-options-icon2 {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.sign-in6,
.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.sign-in6 {
  align-self: stretch;
  border-radius: 24px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 92px 36px;
  gap: 36px;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 925px) {
  .sign-up {
    font-size: 38px;
    line-height: 42px;
  }
  .name-fields,
  .name-fields1,
  .name-fields2 {
    flex-wrap: wrap;
  }
  .sign-in6 {
    gap: 18px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sign-up {
    font-size: 29px;
    line-height: 32px;
  }
}
